@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1615520619025'); /* IE9 */
  src: url('iconfont.eot?t=1615520619025#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALkAAsAAAAABugAAAKYAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCfgqBSIE6ATYCJAMMCwgABCAFhG0HRxsJBsgOJS1BwQjhAiBkBF973b67o9Vq+/ioKCREYQwSBUaDESiD7jbRf3Ct7VUQa7uGmdfX7c53hrhXs1CpGiKExv9cTm81NYvmB8ppjuFHvQDjgKJwb2yTFUjoPcSrHWQnzhPoNi+T4ba5cxDYFfa0QDyydAjYCxFFEfOdQnvD2iJetelMz+kb8BJ9P/7lh52kLbPn1hpNUVD7xX8Jeb6adxcgogTc3IaMXUAh6o2ZGpMQWSbdGbNVYF/Dgi+hqvjiA5vYKzsRf51b2ws2UZ3uSOpp3JoUN0ggg/Zi7hxwyyijjwgxMzN1uhkftSy8bd6D0ji9vr9IQAknW2dJ9NnVFE5sKT6Ojx6fP2wxo/kk2PvJYHk4cZ29X5ZS8xcpZ4XUloeapjxbcd+Hg7iUc25wtM+9shw2fKSC0njJezbscT2Z7piDD6l71/tJMggCqJp5O7uoWpHO/Ud/Y/dpQwv4Klt2VwGfSuEwVDULoPnoPKc3+H9SYlMx5LY1F03iSSxfNkNwJVAk+VXswLC/8boxciOh09gIX4e5DLJOq2ih7EKbHqfQrtMFdNvRsrnHCJVJlC5sWwEIg94g6fcB2aAftFB+oc24f2g3GCboVo+4PXusB+tsUFFIR1EYnoBshEjYtevOuL4f0SNCSM3LI84wUjU2DvOyc8v5FiQhdY4F2iidr+sYYpWIsBkuQ4JAoKwSDkX0bEbX5fKcHNz0puwIEYHTDRUSokOioLAJECuCkOCgvc5Z+Xw/hDZCEKJ2kOrCwxCVhu0eypMtl4C2aCQS6V6u0Yyi5dPpMAhTESKoGUYhAgEByc2jOEiELhszIiUrl+O0wlRN9vo68ft2QDd7YI4UOYr+e1a9yV4skbKiZExy58MjMgA=') format('woff2'),
  url('iconfont.woff?t=1615520619025') format('woff'),
  url('iconfont.ttf?t=1615520619025') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1615520619025#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-direction-down:before {
  content: "\e66b";
}

.icon-direction-up:before {
  content: "\e66c";
}

